<% layout("/layouts/boilerplate") -%>
<div class="row">
        <div class="col-8 offset-2 mt-3 mb-3">

        <h3>Listing Details:</h3><br>
        <% if (listing.image && listing.image.data) { %>
            <img src="data:<%= listing.image.contentType %>;base64,<%= listing.image.data.toString('base64') %>" alt="" style="max-width:100%;" />
        <% } else if (listing.image) { %>
            <img src="<%= listing.image %>" alt="" style="max-width:100%;" />
        <% } else { %>
            <img src="/images/default.jpg" alt="" style="max-width:100%;" />
        <% } %>
        <div class="card">
                <img src="<% if (listing.image && listing.image.data) { %>data:<%= listing.image.contentType %>;base64,<%= listing.image.data.toString('base64') %><% } else { %><%= listing.image && listing.image.url ? listing.image.url : '/images/default.jpg' %><% } %>"
         class="card-img-top listing-link"
         alt="listing image">


        <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %></b><br>
                <%= listing.description %> <br>
               &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/Night.


<br>
                <%= listing.location %> <br>
                <%= listing.country %>
            </p>
        </div>
    </div>
    
    <div class="col-1btns">
        <a  href="/listings/<%= listing._id %>/edit" class="btn btn-dark">Edit</a>
     
     
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" style="display:inline">
        <button class="btn btn-dark">Delete</button>
    </form>
     </div>
    
    

     </div>
    
        
    </div>
    